html body{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.oll{
    height: 500px;
    width: 700px;
    background: silver;
    border: #2d2323 solid 3px;
    border-radius: 5px;
}




/*@media screen {*/
/*}*/